html, body, main, #app, #app>div {
    background-color: aliceblue;
  }
.cont{
    height: 80%;
    width: 100%;
    background-color: aliceblue;
}
.aboutContainer{
    display: flex;
    height: 80%;
    margin-bottom: 14%;
}
.imgContainer{
    margin-top: 2%;
    margin-left: 8%;
    height: 30%;
    width: 30%;
}
.profileImg{  
    height: 92%;
    width: 94%;
    margin: 2%;  
    border-bottom-left-radius:20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    box-shadow:3px 3px 5px rgba(0,0,0,.8);
}
.aboutMeContainer{
    margin-top: 2%;
    display: inline;
    width: 50%;
    margin-left:2%;
}

.title{
    margin-top: 2%;
    text-align: center;
}
p{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}